
  .content {
    
    display: flex;
    margin: 30px auto 32px;
    padding: 0 16px;
    width: 90%;
    flex-direction: column;
  }

  
  .retete{

    width:1000px;
    height: 500px;
    border-radius: 10px; 
    display: flex;
    padding: 30px;
    background-image: url("/textil2.jpeg");
  }
  h2{
    font-size: 20px;
    margin: 0 100px;
  }
  h1{
    font-size: 25px;
  }
  .btn btn-outline-primary{
      background-color: brown;;
  }
  .button1 {
    background-color: #68574c;
    border: none;
    color: rgb(240, 229, 216);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    left:1300px;
    top:630px;
    position: fixed;
  
  }
  .form-control{
    background-color:rgb(240, 229, 216) ;
}
.container{
  background-color:rgb(224, 202, 172);
  width:800px;
  border:none;
  left:10px;
}
h1{
  font-size: 30px;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(68, 38, 13);
}