.card-container{
    background-color:rgb(224, 202, 172);
    width:500px;
    border:none;
    left:100px;
}
.form-control{
    background-color:rgb(240, 229, 216) ;
}
h1{
    font-size: 30px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(68, 38, 13);
}